


#title {
    font-size: 34pt;
    font-weight: bold;
    text-align: center;
    margin: 0px;
}

div {
    text-align: center;
}

table {
    width: 80%;
    border: 1px solid black;
}

tr:nth-child(odd){
    background-color: lavender;
}

caption {
    font-style: italic;
}

fieldset {
    background-color: lavender;
    border: 5px solid black;  
    display: inline;
    text-align: right;
    margin: 20px;
}

legend{
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
}

input {    
    margin: 3px;
}

#client-view {
    position: absolute;
    top: 65px;
    left:20px;
    font-size: 30pt;
    color:blue;    
}


#server-view {
    position: absolute;
    top: 270px;
    left:20px;
    font-size: 30pt;
    color:blue;    
}


li{
    list-style-type: none;
}

div#validators {
    position: fixed;
    bottom: 10px;
    right: 5px;
}

div > ul > li > a > img{
    opacity: 50%;
}