body{
    background-image: url("../img/tmnt/background.png");
    background-repeat: repeat,repeat;
    font-size: 8pt;
    font-family: "Verdana", "Tahoma", "serif";
    padding: 0px;
    margin: 0px;
}
#banner{
    background-image: url('../img/tmnt/bannerbg.png');
    background-repeat: repeat-x;    
    text-align: center;
}
h1{
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
    font-family: "Tahoma", "Verdana", "sans-serif";
    text-shadow: 3px 3px #999999;
}
#content{
    margin: auto;
    width: 800px;
    border-color: gray;
    border-width: 4px;
    border-style: solid;
    border-radius: 20px;
    overflow: auto;
    position: relative;
    padding: 0px;
    overflow-x: hidden; 
}
#review{
    width: 550px;
    float: left;
    position: relative;
    margin: 0px;
    padding: 0px;
}
div#review > div:nth-child(1){
    background-image: url('../img/tmnt/rbg.png');
    background-repeat: repeat;
    font-size:  48pt;
    font-weight:  bold;
    color: red;
    height: 83px;
    border-top-left-radius: 20px;        
}
div#review > div:nth-child(1) > img{
    border-top-left-radius: 20px;        
}
#overview{
    width: 250px;
    float: right;
    background-color: #A2B964;
    font-family: "Arial","sans-serif";
    font-size: 8pt;
}
#quotes{    
    padding: 5px;
    column-count: 2;
    column-gap: 2%;
}
div#quotes > p:nth-child(odd) > img{
    padding-right: 5px;
}
div#quotes > p:nth-child(odd){
    padding: 8px;
    font:  bold 8pt;
    background-color: #E8DC9B;
    border-color: gray;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
}

div#quotes > p:nth-child(even){
    padding-bottom: 20px;
}
div#quotes > p:nth-child(even) > img{
    float: left;
}
dl{
    padding-left: 10pt;
}
dt{
    font-weight: bold;
    padding-bottom: 10pt;
}
li{
    list-style-type: none; 
}
.review {
    background-color: #A2B964;    
    padding: 5px;  
    position: absolute;               
    bottom:0;    
    width: 100%;
    margin-bottom: 0px;
    text-align: center;
}
div#validators {
    position: fixed;
    bottom: 10px;
    right: 5px;
}

div > ul > li > a > img{
    opacity: 50%;
}